# Environment variables
.env
.env

# Virtual env
antimatter-env/
venv-test/

# Python
__pycache__/
*.pyc

# ChromaDB / memory
project/memory/*
# project/memory/chromadb/

start-env.bat
antimatter-frontend/



# ----frontend-----
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


antimatter_recruiter_guide.md
